@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;

}

/*Global Tags*/

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}

span{
    font-size: .9rem;
    color: black;

}

h6{
    font-size: 1.1rem;
    color: black;
}

/*Navigation*/

nav{
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
}

nav img{
    height: 50px;
    cursor: pointer;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3 ease;
}

nav .navigation ul li a:hover{
    color: orangered;
}

/*Home*/

#home{
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url(./school-bg.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2{
    color: white;
    font-size: 2.8rem;
    letter-spacing: 1px;
}

#home p{
    width: 50%;
    color: white;
    font-size: 1.0rem;
    line-height: 25px;

}

#home .btn{
    margin-top: 30px;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

#home a.orange{
    color: white;
    background-color: orangered;
    transition: 0.3s ease;
}

#home a.orange:hover{
    color: orangered;
    background-color: white;
}

#home a.blue{
    color: white;
    background-color: #191970;
    transition: 0.3s ease;
}

#home a.blue:hover{
    color: #191970;
    background-color: white;
}

/*Features*/

#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box{
    background: #F9F9FF;
    text-align: start;
}

#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44,44,80);
}

#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 13px 0 7px 0;
}

#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70,70,87);
}

/*Clubs*/

#club{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#club .clubs-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#club .clubs{
    text-align: start;
    background: #F9F9FF;
    height: 100%;
}

#club .clubs img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#club .clubs .details{
    padding: 15px 15px 0 15px;
}

#club .clubs .details i{
    font-size: .9rem;
}

/*Members*/

#member{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#member .member-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#member .member-box .profile{
    background: #fafaf1;
    padding: 30px 10px;
}
