@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;

}

/*Global Tags*/

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}

span{
    font-size: .9rem;
    color: black;

}

h6{
    font-size: 1.1rem;
    color: black;
}

/*Navigation*/

nav{
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    z-index: 999;
}

nav img{
    height: 50px;
    cursor: pointer;
}

nav .navigation{
    display: flex;
}

#menu-btn{
    width: 30px;
    height: 30px;
    display: none;
}

#close-btn{
    display: none;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3 ease;
}

nav .navigation ul li a.active,
nav .navigation ul li a:hover{
    color: orangered;
}

/*Home*/

#home{
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url(./images/school-bg.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2{
    color: white;
    font-size: 2.8rem;
    letter-spacing: 1px;
}

#home p{
    width: 50%;
    color: white;
    font-size: 1.0rem;
    line-height: 25px;

}

#home .btn{
    margin-top: 30px;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

#home a.orange{
    color: white;
    background-color: orangered;
    transition: 0.3s ease;
}

#home a.orange:hover{
    color: orangered;
    background-color: white;
}

#home a.blue{
    color: white;
    background-color: #191970;
    transition: 0.3s ease;
}

#home a.blue:hover{
    color: #191970;
    background-color: white;
}

/*Features*/

#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box{
    background: #F9F9FF;
    text-align: start;
}

#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44,44,80);
}

#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 13px 0 7px 0;
}

#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70,70,87);
}

/*Clubs*/

#clubs-home{
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url(./images/school-bg\(1\).png);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#clubs-home h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#club{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#club .clubs-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px); 
    grid-gap: .7rem;
    margin-top: 50px;
    justify-content: center;
    justify-items: center;
}

#club .clubs{
    text-align: start;
    background: #F9F9FF;
    height: auto;
    width: 80%;
    border-radius: 10px; 
    overflow: hidden; 
    padding: 10px; 
    box-sizing: border-box; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#club .clubs img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}


#club .clubs .details{
    padding: 15px 15px 0 15px;
}

#club .clubs .details i{
    font-size: .9rem;
}


.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.tab {
    margin: 0 100px;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.tab.active {
    border-bottom: 2px solid orange;
    transition: .75s;
}
#club .day{
    display: none;
}
#club .day.active{
    display: block;
}


/*Clubs-Details*/

#clubs-details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw;
}

#club-details h3{
    color: #64626e;
}

#club-details hr{
    height: 1px;
    background: rgba(236,226,229,0.5);
    margin-top: 40px;
}

#club-details p{
    padding: 35px 0 25px 0;
    color: #29303B;
}

#clubs-details .overview{
    width: 70%;
}

#clubs-details .overview .club-img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 35px;
}

#clubs-details .overview .club-head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#clubs-details .overview .club-head .club-name{
    width: 70%;
}

#clubs-details .overview .club-head .club-name h2{
    color: #29303B;
}

#clubs-details .overview .club-head .club-name p{
    font-size: 15px;
}

#clubs-details .activities p{
    font-size: 15px;
    padding-bottom: 15px;
}

#clubs-details .activities p i{
    color: orangered;
    font-weight: 700;
    margin-right: 20px;
}

#clubs-details .official{
    display: block;
}

#clubs-details .official img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

#clubs-details .official h5{
    font-size: 15px;
}

#clubs-details .register{
    width: 300px;
    padding: 0 30px 30px 30px;
    border-radius: 11px;
    box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8%);
}

#clubs-details .register h3{
    padding-bottom: 10px;
}

#clubs-details .register p{
    font-size: 15px;
    color: #64626e;
    margin: 15px 0;
}

#clubs-details .register p i{
    color: orangered;
    font-weight: 500;
    margin-right: 18px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}


/*Register Button*/

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: orangered;
    box-shadow: 0 0 0 2px orangered;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .animated-button a{
    text-decoration: none;
    color: white;
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: orangered;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: greenyellow;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }





/*Members*/

#member{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
    transform: scale(0.75);
}

#member .member-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#member .member-box .profile{
    background: #fafaf1;
    padding: 30px 10px;
}

.pro-links{
    margin-top: 10px;
}

.pro-links i{
    padding: 10px 13px;
    border: 1px solid rgb(21,21,100);
    cursor: pointer;
    transition: 0.3s ease;
}

.pro-links i:hover{
    background: rgb(21,21,100);
    color: #fff;
    border: 1px solid rgb(21,21,100);
    cursor: pointer;

}

/*Footer*/

footer{
    padding: 3vw;
    background-color: #101C32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #F9F9FF;
}


footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright .pro-links{
    margin-top: 10px;
}

footer .copyright .pro-links i{
    padding: 10px 13px;
    border: 1px solid rgb(21,21,100);
    cursor: pointer;
    transition: 0.3s ease;
}

footer .copyright .pro-links i:hover{
    background: #fff;
    color: rgb(21,21,100);
    border: 1px solid rgb(21,21,100);
    cursor: pointer;

}

footer img{
    display: none;
}

/*About*/
#about-home{
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url(./images/school-bg\(1\).png);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#about-home h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#about-container .about-img img{
    width: 800px;
    height: 1200px;
}

#about-container{
    display: flex;
    align-items: center;
    padding: 8vw 4vw 2vw 4vw;
}

#about-container .about-img{
    width: 60%;
}

#about-container .about-text{
    width: 40%s;
    padding: 60px;
    margin-bottom: 250px;
}

#about-container .about-text h2{
    color: #29303B;
    padding-bottom: 15px;
}

#about-container .about-text p{
    color: #686F7A;
    font-weight: 300;
}

#about-container .about-text .about-features{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

#about-container .about-text .about-features img{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;

}

#about-container .about-text .about-features .fea-text{
    width: 90%;
}

#about-container .about-text .about-features .fea-text h5{
    font-size: 16px;
    color: #29303B;
}

/*Credits*/

#credits{
    text-align: center;
    padding: 1vw;
}

#credits .credits-img{
    margin-top: 0px;
    display: block;
    justify-content: space-between;
    align-items: center;
}

#credits .credits-img img{
    width: 300px;
}

#member-credits{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
    transform: scale(0.75);
}

#member-credits .member-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#member-credits .member-box .profile{
    background: #fafaf1;
    padding: 30px 10px;
}

/*Events*/

#events-home{
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url(./images/school-bg\(1\).png);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#events-home h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#events {
    padding: 8vw;
    text-align: center;
}

#events .event-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px); 
    grid-gap: 1rem;
    margin-top: 50px;
    justify-content: center; 
    justify-items: center;
}

#events .event {
    text-align: start;
    background: #F9F9FF;
    height: auto;
    width: 80%;
    border-radius: 10px; 
    overflow: hidden; 
    padding: 10px; 
    box-sizing: border-box; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    
}

#events .event img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

#events .details {
    padding: 15px 15px 0 15px;
}

#events .details i {
    font-size: .9rem;
}
#events .event .register{
    cursor: pointer;

}
#events .event .register a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px; 
    border: 2px solid #fff; 
    border-radius: 15px; 
    background-color: black; 
    display: inline-block; 
    transition: background-color 0.75s, border-color 0.75s;
}
#events .event .register a:hover{
    background-color: #fff;
    border-color: #000000; 
    color: #000000;
}


/*Contact*/

#contact{
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .getin{
    width: 350px;
}

#contact .getin h2{
    color: #2c234d;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}

#contact .getin p{
    color: #686875;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
}

#contact .getin h3{
    color: #2c234d;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}

#contact .getin .getin-details div{
    display: flex;
}

#contact .getin .getin-details div .get{
    font-size: 16px;
    line-height: 22px;
    color: orangered;
    margin-right: 20px;
}

#contact .getin .getin-details div p{
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

#contact .getin .getin-details .pro-links i{
    margin-right: 8px;
}

#contact .form{
    width: 60%;
    background: #f7f6fa;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 8px;
}

#contact .form h4{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
}

#contact .form p{
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;

}

#contact .form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-row input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form .form-col input,
#contact .form .form-col textarea{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form button{
    font-size: .9rem;
    padding: 13px 25px;
    background: orangered;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

/*Register*/

#Register{
    padding: 8vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#Register .form{
    width: 100%;
    background: #f7f6fa;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 8px;
}

#Register .form h2{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
}

#Register .form p{
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;

}

#Register .form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#Register .form .form-row input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#Register .form .form-col input,
#Register .form .form-col textarea{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#Register .form button{
    font-size: .9rem;
    padding: 13px 25px;
    background: orangered;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
.form-select{
    display: flex;
    position: relative;
    min-width: 50px;
    height: 60px;
    margin-bottom: 15px;
}
.select-box{
    border: none;
    padding: 0 30px 0 15px;
    width: 100%;
}
#successMessage {
  
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;    /*Change Accordigly*/
    margin-top: 10px;
}
#successMessage{
    position: absolute;
    left: 30%;
    margin-top: 280px;
    width: 40%;
    background-color: #FF8C00;
}
.successMessage {
    text-align: center;
}
  
.successMessage h2 {
    color: #000000;
    margin-bottom: 10px;
}


/*Menu-btn*/
.dropdown_menu{
    display: none;
}
.toggle_btn{
    display: none;
}

/*Mobile-View*/

@media(max-width:769px){
    nav{
        padding: 15px 20px;
    }
    nav img{
        width: 60px;
    }
    #menu-btn{
        display: none;
    }
    
    #close-btn{
        display: none;
        font-size: 1.6rem;
        color: black;
        padding: 30px 0 20px 20px;
    }
    nav .navigation ul{
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(17, 18, 104, 0.021);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }
    nav .navigation ul.active{
        right: 0;
    }
    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    nav .navigation ul li a{
        color: white;
    }
    #home{
        padding-top: 0px;
    }
    #home p{
        width: 90%;
    }
    #features{
        padding: 8vw 4vw 0 4vw;
    }
    #club{
        padding: 8vw 4vw 0 4vw;
    }
    #member{
        padding: 8vw 8vw 4vw 8vw;
    }
    footer .copyright .pro-links{
        margin-top: 15px;
    }
    .tab {
        padding: 5px 0px;
        margin: 0 60px;
    }
    .tabs {
        padding: 0px 0px;
        font-size: 0.8rem;
    }


    #about-container .about-img img{
        display: none;
    }

    .navigation{
        display: none;
    }
    .toggle_btn{
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        display: block;
        background-color: #FF8C00;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        border-radius: 20px;
        font-weight: bold;
    }

    .dropdown_menu{
        text-align: left;
        display: block;
        position: fixed;
        right: 1rem;
        height: 0;
        top: 80px;
        width: 200px;
        background: #1f24bbaa;
        border-radius: 10px;
        overflow: hidden;
        transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        z-index: 10000;
        
    }
    .dropdown_menu.open{
        height: 200px;
        position: fixed;
    }
        
 
    .dropdown_menu li{
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    li{
        list-style: none;

    }
    a{
        text-decoration: none;
        color: white;
        font-size: 1rem;

    }
    a:hover{
        color: #FF8C00;
        transition: 0.5s;
    }
    .nav{
        display: flex;
        padding: 2% 2%;
        justify-content: space-between;
        align-items: center;
    }

    /*Club-Details*/
    #clubs-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8vw 4vw;
    }

    #clubs-details .overview{
        width: 100%;
    }

    #clubs-details .overview .club-img{
        width: 100%;
        height: 100%;
    }

    #clubs-details .register{
        margin-top: 25px;
    }

    /*Contact*/

    #contact{
        padding: 8vw 4vw;
    }

    #contact .getin{
        width: 250px;
    }
    

}


@media(max-width:475px){
    #about-container{
        flex-direction: column-reverse;
    }
    #about-container .about-img img{
        width: 100%;
        padding-right: 0;
    }
    #about-container .about-text{
        width: 100%;
        padding-bottom: 20px;
    }

    /*Contact*/
    #contact{
        padding: 8vw 4vw;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
    }

    #contact .getin{
        width: 100%;
        margin-bottom: 30px;
    }

    #contact .form{
        width: 100%;
        padding: 40px 30px;
    }

    #contact .form .form-row{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    #contact .form .form-row input{
        width: 100%;
    }
}

